.button {
    width: .4rem;
    height: .4rem;
    margin-right: .1rem;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 1px 5px #888888;
    position: relative;
}

.button img {
    position: absolute;
    top: 20%;
    right: 15%;
}