.App {
    width: 4rem;
    padding: .2rem .2rem .1rem;
    margin: 0 auto;
}

h1 {
    position: absolute;
    top: 0.4rem;
    font-size: .6rem;
    margin: 0;
}

.scoresRow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: .2rem;
}

.score {
    text-align: left;
    margin: 0 20px 0 0;
    padding: 5px 15px;
    font-size: 24px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    transform: skew(10deg);
    background-color: #39f;
    text-align: center;
}

.score span {
    color: #fafafa;
    transform: skew(-10deg);
}

.scoreLabel {
    font-size: .18rem;
}

.scoreValue {
    font-size: .24rem;
    margin-top: .05rem;
}

.buttonsRow {
    margin-top: .1rem;
    padding: 0.1rem 0;
    text-align: right;
    height: .5rem;
    display: flex;
    justify-content: flex-end;
}

.gameOver {
    margin-top: .2rem;
}