body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    min-width: 400px;
    padding: 20px 50px;
}

.score {
    text-align: left;
    margin-top: 50px;
    font-size: 40px;
}

.speaker-btn {
    text-align: left;
    margin-top: 20px;
}
